.rightDetails {
  width: 100%;
  padding-left: 0rem;
  padding-right: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 95%;
  overflow-x: hidden;
}

.detailDivider {
  border: none;
  border-top: 1px solid; /* or bottom */
  margin: 1em auto;
  width: 17em;
}

.locationDetails {
  padding: 60px 4rem 2rem;
  font-weight: 500;
  color: #ffffff;
  font-size: 22pt;
  font-family: GhostLight;
}

.personDetails {
  width: 85%;
  text-transform: uppercase;
  padding: 2rem 4rem;
  font-weight: 500;
  color: #f58f00;
  text-transform: uppercase;
  font-size: 28pt;
  font-family: GhostLight;
}
.separator {
  width: calc(100% - 4rem);
  margin: 0rem 2rem;
  display: block;
}
.imageDetails {
  color: #d9d0ad;
  font-family: LiberationSans;
  padding: 0rem 4rem;
  overflow-y: auto;
}
.imageTitle {
  font-size: 24px;
  font-family: LiberationSans;
  font-weight:600;
  margin: 2rem 0rem 1.5rem;
}
.imageCaption {
  font-size: 18px;
  height: 170px;
  font-weight:200;
  line-height: 1.5rem;
}

.credit {
  color: #7c7c7c;
  font-size: 15px;
  padding: 2rem 4rem;
  align-self: flex-start;
}
.moreDetailsImage {
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 85%;
  padding-bottom: 40px;
}
