html,
body {
  height: 100%;
  margin: 0;
  user-select: none;
  -webkit-overflow-scrolling: touch;
  overflow: hidden;
}

#root {
  min-height: 100%;
}

@font-face {
  font-family: GhostLight;
  src: url("fonts/Ghostlight-Regular.ttf");
}
