{
	"parser": "babel-eslint",
	"parserOptions": {
		"sourceType": "module",
		"ecmaFeatures": {
			"jsx": true
		}
	},
	"extends": ["airbnb", "prettier"],
	"env": {
		"jest": true,
		"browser": true
	},
	"rules": {
		"no-console": 0,
		"no-tabs": 0,
		"no-mixed-spaces-and-tabs": 0
	}
}
