.title {
  position: absolute;
  bottom: 90px;
  left: 0px;
  z-index: 100;
  width: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
}
.videoScrim {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100%;
  background-image: url("../../img/Background.png");
  opacity: 0.75;
  z-index: 50;
}
.video {
  z-index: 20;
}
.titleBackground {
  position: absolute;
  top: 0px;
  height: 300px;
  opacity: 0.5;
  background-color: black;
  width: 100%;
  z-index: -1;
}

.titleImage {
  width: 100%;
}

.titleText {
  text-align: center;
  color: #f58f00;
  text-transform: uppercase;
  font-size: 80pt;
  padding-top: 1rem;
  font-family: GhostLight;
  text-shadow: black 0.1em 0.1em 0.4em;
}
.touchText {
  color: #d9d0ad;
  font-size: 22pt;
  font-family: LiberationSans;
  text-align: center;
  font-weight: 600;
  padding-top: 2rem;
}
