.siteDetails {
  position: fixed;
  top: 30px;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  color: white;
  overflow: hidden;
  height: 100vh;
  width: 100%;
}

.siteDetailContent {
  display: flex;
  width: 85%;
  height: 75vh;
  z-index: 10;
  border: #f58f00 1px solid;
  border-radius: 30px;
}

.siteDetailBackground {
  background: linear-gradient(to bottom, #404040 0%, black 100%);
  border-radius: 30px;
  background-size: 100% 100%;
  width: 85%;
  height: 75vh;
  position: absolute;
  z-index: -1;
  opacity: 0.60;
}

.bottom-enter {
  transform: translateY(100%);
}
.bottom-enter-active {
  transform: translateY(0%);
  transition: transform 500ms ease-in-out;
}
.bottom-enter-done {
  transform: translateY(0%);
}
.bottom-exit {
  transform: translateY(0%);
}
.bottom-exit .siteDetailBackground {
  background-image: url("../../img/Background.png");
  opacity: 1;
  z-index: -1;
}
.bottom-exit-active {
  transform: translateY(100%);
  transition: transform 500ms ease-in-out;
}
.bottom-exit-done {
  transform: translateY(100%);
}
.closeButton {
  position: absolute;
  right: 5%;
  top: 60px;
  cursor: pointer;
  padding: 1rem;
}

.imageDetails {
  height: 600px;
}

.image {
  display: block;
  margin: auto;
}

.moreDetailsPerson {
  font-size: 18pt;
}

.moreDetails {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  position: relative;
  top: -20px;
  height: 85%;
}

.personMore {
  font-size: 24px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.learnMore {
  width: 75%;
  margin-top: 20px;
  padding-left: 10%;
  padding-right: 10%;
  line-height: 30px;
  overflow: auto;
  overflow-x: hidden;
}
