html, body {
    height: 100%;
    margin: 0;
    user-select: none;
    -webkit-overflow-scrolling: touch;
    overflow: hidden;
}

.titleImage {
    z-index: -1;
    position: relative;
}

#root {
    min-height: 100%;
}

.app {
    min-height: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.bg {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
    background-image: url("img/Unit1-MapOverview-Small.png");
    background-repeat: no-repeat; /*Avoid the image to repeat*/
    background-size: cover; /*Make the image full size*/
    background-position:center; /*Center the img*/
}

@font-face {
    font-family: GhostLight;
    src: url("fonts/Ghostlight-Regular.ttf");
}