body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

#root {
  width: 100%;
  height: 100vh;
}

.bg {
  position: absolute;
  z-index: -1;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-image: url("./img/Background.png");
  background-repeat: no-repeat; /*Avoid the image to repeat*/
  background-size: 100% 100%; /*Make the image full size*/
  background-position: center; /*Center the img*/
}

:focus {
  outline: none;
}

@font-face {
  font-family: LiberationSans;
  src: url(./fonts/LiberationSans-Regular.ttf);
}

@font-face {
  font-family: FranklinGothicBook;
  src: url(./fonts/franklingothic-book.otf);
}

@font-face {
  font-family: GhostLight;
  src: url(./fonts/Ghostlight-Regular.ttf);
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #343333;
  opacity: 0.75;
  border-radius: 7px;
}

::-webkit-scrollbar {
  width: 20px;
  border-radius: 7px;
}

::-webkit-scrollbar-thumb {
  background-image: url("img/ScrollbarSlider.png");
  background-repeat: no-repeat; /*Avoid the image to repeat*/
  background-size: cover; /*Make the image full size*/
  background-position: center; /*Center the img*/
  border-radius: 10px;
}

.slick-dots li button:before {
  color: white;
  opacity: 1;
}

.slick-dots li.slick-active button:before {
  opacity: 0.75;
  color: #f58f00;
}

.person {
  color: #f58f00;
  text-transform: uppercase;
  font-size: 28pt;
  font-family: GhostLight;
  text-shadow: black 0.1em 0.1em 0.4em;
}

.label {
  color: #ffffff;
  font-size: 20pt;
  font-family: GhostLight;
  text-shadow: black 0.1em 0.1em 0.4em;
}
