.siteDetails {
    position: relative;
    width: 85%;
    height: 75vh;
    margin-top: 40px;
    float: left;
    display: flex;
    /*border-color: orange;
    border-width: 2px;
    border-style: solid;
    border-radius: 10px;
    */
    color: white;
    z-index: 2;
}

.siteDetailBackground {
    position: absolute;
    width: 100%;
    height: 75vh;
    float: left;
    /*background-color: black;*/
    opacity: 0.85;
    /*border-radius: 7px;*/
    z-index: -1;
    background-image: url("img/BackgroundScreen.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.detailImageCarousel {
    width: 600px;
    height: 100%;
    margin: 80px;
}

.closeButton {
    position: absolute;
    right: -50px;
    top: -50px;
}

.backButton {
    position: absolute;
    left: -50px;
    top: -50px;
}

.imageDetails {
    height: 600px;
    width: 600px;
}

.image {
    display: block;
    margin: auto;
}

.slick-dots li button:before {
    color: white;
}

.slick-dots li.slick-active button:before {
    opacity:.75;
    color:white
}

.rightDetails {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.detailDivider {
    border:none;
    border-top:1px solid;/* or bottom */
    margin:1em auto;
    width:17em;
}

.locationDetails {
    padding-top: 60px;
}

.locationDetails, .personDetails {
    text-align: center;
    width: 85%;
    text-transform: uppercase;
}

.war {
    font-family: GhostLight;
    font-size: 18pt;
    width: 85%;
    text-align: center;
}

.caption {
    width: 85%;
    text-align: center;
}

.moreDetailsPerson {
    font-size: 18pt;
}

.moreDetailsImage {
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 85%;
    padding-bottom: 40px;
}

.moreDetails {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    position: relative;
    top: -20px;
}

.personMore {
    font-size: 24px;
    margin-top: 10px;
    margin-bottom:20px;
}

.learnMore {
    width: 75%;
    margin-top: 20px;
    padding-left: 10%;
    padding-right: 10%;
    line-height: 30px;
    overflow: auto;
    overflow-x: hidden;
}

::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #343333;
    opacity: .75;
    border-radius: 7px;
}

::-webkit-scrollbar
{
    width: 20px;
    border-radius: 7px;
}

::-webkit-scrollbar-thumb
{
    background-image: url("img/ScrollbarSlider.png");
    background-repeat: no-repeat; /*Avoid the image to repeat*/
    background-size: cover; /*Make the image full size*/
    background-position:center; /*Center the img*/
    border-radius: 10px;
}
